<h2 class="page-header">Add new asset</h2>
<form (submit)="onAssetSubmit()">

  <div class="form-group">
    <label>Address</label>
    <input type="text" [(ngModel)]="address" name="address" class="form-control">
  </div>

  <div class="form-group">
    <label>squareMeter</label>
    <input type="text" [(ngModel)]="squareMeter" name="squareMeter" class="form-control">
  </div>

  <div class="form-group">
    <label>monthlyRent</label>
    <input type="text" [(ngModel)]="monthlyRent" name="monthlyRent" class="form-control" >
  </div>

  <div class="form-group">
    <label>rooms</label>
    <input type="text" [(ngModel)]="rooms" name="rooms" class="form-control">
  </div>

  <div class="form-group">
    <label>partners</label>
    <input type="text" [(ngModel)]="partners" name="partners" class="form-control">
  </div>

  <div class="form-group">
    <label>homeCondition</label>
    <input type="text" [(ngModel)]="homeCondition" name="homeCondition" class="form-control">
  </div>

  <div class="form-group">
    <label>homeDesign</label>
    <input type="text" [(ngModel)]="homeDesign" name="homeDesign" class="form-control">
  </div>

  <div class="form-group">
    <label>floor</label>
    <input type="text" [(ngModel)]="floor" name="floor" class="form-control">
  </div>

  <div class="form-group">
    <label>animals</label>
    <input type="text" [(ngModel)]="animals" name="animals" class="form-control">
  </div>

  <div class="form-group">
    <label>elevator</label>
    <input type="text" [(ngModel)]="elevator" name="elevator" class="form-control">
  </div>

  <div class="form-group">
    <label>parking</label>
    <input type="text" [(ngModel)]="parking" name="parking" class="form-control">
  </div>

  <div class="form-group">
    <label>garage</label>
    <input type="text" [(ngModel)]="garage" name="garage" class="form-control">
  </div>

  <div class="form-group">
    <label>grate</label>
    <input type="text" [(ngModel)]="grate" name="grate" class="form-control">
  </div>

  <div class="form-group">
    <label>airCon</label>
    <input type="text" [(ngModel)]="airCon" name="airCon" class="form-control">
  </div>

  <div class="form-group">
    <label>cripple</label>
    <input type="text" [(ngModel)]="cripple" name="cripple" class="form-control">
  </div>

  <input type="submit" class="btn btn-primary" value="Submit">

</form>
